*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

header{
    padding-top: 16px;
    padding-bottom: 16px;
    height: 80px;
    border-bottom: 1px solid rgb(233, 224, 224);
}

h1{
    font-size: 40px;
    margin-bottom: 24px;
}
h2{
    font-size: 32px;
    margin-bottom: 8px;
}

#logolink,h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
    font-weight: 600;
}
p{
    color: rgb(126, 117, 117);
    line-height: 170%;
}

.container{
    height: 100%;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;  
}

#logolink{
    color: black;
    text-decoration: none;
    font-size: 28px;
}

.navlink{
    color: rgb(142, 134, 134);
    text-decoration: none;
}
#navlist{
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    
}
#sectionimg{
    width: 50%;
    border-radius: 4px;
}
#section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
section{
    padding-top:32px;
    padding-bottom: 32px;
}
#section2{
    background-color: rgb(240, 231, 231);
}
.button{
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    border-radius: 4px;


}
.primarybutton{
    background-color: black;
    color: white;
}
.secondarybutton{
    color: black;
    border: 1px solid black;
}
.buttonholder{
    margin-top: 32px;
}
#achievementlist{
    list-style: none;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.achievements{
    background-color: white;
    padding: 24px;
    border: 1px solid black;


}